#hero {
  height: 59.25rem;
  position: relative;

  & header {
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 10rem 10.25rem;

    img {
      width: 14.375rem;
      height: 3.625rem;
    }

    & button {
      all: unset;

      height: 2.5rem;
      background-color: var(--pink-dark);
      padding-inline: 1.25rem;
      border-radius: 0.5rem;
      font: var(--button);
      color: var(--text-title);
      cursor: pointer;
      position: relative;

      & span {
        position: relative;
        z-index: 1;
      }

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: var(--pink-base);
        clip-path: circle(0%);
        transition: clip-path 0.5s;
      }

      &:hover::before {
        clip-path: circle(100%);
      }
    }
  }

  & #title {
    margin-inline: auto;
    max-width: 41rem;

    & > p {
      margin-top: 2rem;
    }

    animation: fadeIn 4s ease-in;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/hero-background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeIn 4s ease-in;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
