#pricing {
  padding-block: 10.25rem 18.875rem;
}

#pricing h2 {
  margin-bottom: 3.5rem;
}

#pricing .cards {
  position: relative;
  padding-block: 5.125rem 6.75rem;

  .card {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem 1.75rem;
    border-radius: 1.5rem;
    border: 1px solid var(--shape-stroke);
    background-color: var(--shape-base);
    width: 22rem;
    height: 28rem;
    position: relative;
  }

  .card:not(.fixed) {
    position: absolute;
    top: 5.125rem;
    left: calc(50% - 11rem);
    z-index: -1;
  }

  .card.fixed {
    img:nth-child(1) {
      width: 2.8125rem;
      height: 3.125rem;
      position: absolute;
      top: -3.125rem;
    }

    img:nth-child(2) {
      width: 2rem;
      height: 3rem;
      position: absolute;
      top: -2rem;
      left: -3rem;
      animation: fadeOutInRight 2s forwards;
      animation-timeline: view();
      animation-range: 20vh 60vh;
    }

    img:nth-child(3) {
      width: 3.8rem;
      height: 2rem;
      position: absolute;
      right: -3rem;
      bottom: -2rem;
      animation: fadeOutInLeft 2s forwards;
      animation-timeline: view();
      animation-range: 10vh 30vh;
      z-index: -1;
    }
  }

  .card-tag {
    position: absolute;
    top: 23px;
    right: 24px;
    font: var(--tag);
    color: var(--text-body);
    background-color: var(--shape-stroke);
    padding: 0.5rem 1.25rem;
    border-radius: 999px;
    text-transform: uppercase;
  }

  .card-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .plan-type {
      font: var(--title-xs);
      color: var(--blue-light);

      &.purple {
        color: var(--pink-light);
      }
    }

    .plan-price {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      span:nth-child(1) {
        font: var(--title-md);
        color: var(--text-title);
      }

      span:nth-child(2) {
        font: var(--body-sm);
        color: var(--text-label);
      }
    }
  }

  .card-details {
    .items {
      font: var(--body-xs);
      color: var(--text-body);
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      li {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      li::before {
        content: "";
        display: inline-block;
        background: no-repeat center/cover url(../assets/icons/star-blue.svg);
        width: 0.875rem;
        height: 0.875rem;
      }

      &.purple li::before {
        background: no-repeat center/cover url(../assets/icons/star.svg);
      }
    }

    .button {
      font: var(--button);
      color: var(--text-title);
      border-radius: 0.5rem;
      padding: 0.75rem 1.25rem;
      background-color: var(--blue-dark);
      text-align: center;
      margin-top: 1.5rem;

      &.purple {
        background-color: var(--pink-dark);
      }
    }
  }

  .card:nth-child(1) {
    animation: moveCardLeft 2s forwards;
    animation-timeline: view();
    animation-range: 10vh 60vh;
  }

  .card:nth-child(3) {
    animation: moveCardRight 2s forwards;
    animation-timeline: view();
    animation-range: 10vh 60vh;
  }
}

@keyframes moveCardLeft {
  to {
    transform: rotate(-8deg) translate(-105%, 5%);
  }
}

@keyframes moveCardRight {
  to {
    transform: rotate(8deg) translate(105%, 5%);
  }
}

@keyframes fadeOutInRight {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(-24rem, 6rem);
  }
}

@keyframes fadeOutInLeft {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(20rem, 6rem);
  }
}
